div.app-cached-gists {
  max-width: 500px;
  min-width: 400px;

  h2 {
    margin: 5px 0;
    text-align: center;
  }

  .mat-dialog-content {
    max-height: 400px;

    a {
      outline: none;
    }

    button {
      margin-left: 8px;
    }
  }
}
