<div class="app-generic-dialog">
  <h2 mat-dialog-title>{{ data.title }}</h2>
  <div mat-dialog-content>
    <p>{{ data.message }}</p>
  </div>
  <div mat-dialog-actions>
    <span *ngFor="let button of data.buttons; let i = index; let last = last">
      <button *ngIf="last" (click)="onButtonClick(i)" cdkFocusInitial mat-stroked-button>
        {{ button }}
      </button>
      <button *ngIf="!last" (click)="onButtonClick(i)" mat-stroked-button>
        {{ button }}
      </button>
    </span>
  </div>
</div>
