div#app-footer {
  display: flex;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  background-color: #272822;
  border-top: 15px solid #2F3129;
  border-left: 42px solid #2F3129;
  color: lightgray;
}
