div#app-ceditor {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  > div {
    flex: 1;
    display: flex;
    flex-direction: column;

    app-toolbar {
      flex-basis: 55px;
      display: flex;
    }

    app-editor {
      flex: 1;
    }
  }

  > app-console {
    flex-basis: 250px;
    display: flex;
  }

  > app-footer {
    flex-basis: 35px;
    display: flex;
  }
}
