div#app-console {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  flex: 1;
  background-color: #272822;
  color: #F8F8F2;
  border-top: 15px solid #2F3129;
  border-left: 42px solid #2F3129;
  padding: 15px;
  overflow: auto;
}
