div.app-dialog {
  font-family: "Courier New", Courier, monospace;
  width: 270px;

  h2 {
    margin-top: 5px;
    text-align: center;
  }

  button {
    font-family: "Courier New", Courier, monospace;
    margin-right: 10px;
  }
}
