/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
}

span, p, button,
h1, h2, h3, h4, h5 {
  font-family: "Courier New", Courier, monospace !important;
}

a, .mat-icon {
  color: #3f4237 !important;
}

.progress-spinner-dialog {
  .mat-dialog-container {
    box-shadow: inherit;
    background-color: inherit;
  }
}
