/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
}

p, button,
h1, h2, h3, h4, h5,
mat-card-title, a,
mat-card-subtitle {
  font-family: "Courier New", Courier, monospace !important;
}

a, .mat-icon, i.fab {
  color: #3f4237 !important;
}

h2.mat-dialog-title {
  text-align: center;
  margin: 5px 0;
}

.progress-spinner-dialog {
  .mat-dialog-container {
    box-shadow: inherit;
    background-color: inherit;
  }
}
