<div id="app-toolbar">
  <mat-toolbar>
    <button mat-icon-button
            (click)="toggleSidenav()"
            class="toggle-sidenav-button"
            matTooltip="Open or close the sidenav (Alt + M)">
      <mat-icon aria-label="">menu</mat-icon>
    </button>

    <div class="logo">
      <img src="./assets/icon.png">
      <h1>Ceditor</h1>
    </div>

    <button mat-icon-button
            (click)="runCode()"
            class="run-code-button"
            matTooltip="Run the code (Ctrl + Enter)">
      <mat-icon aria-label="">play_arrow</mat-icon>
    </button>
    <button mat-icon-button
            (click)="setOriginalCode()"
            class="set-original-code-button"
            matTooltip="Original file (Alt + O)">
      <mat-icon aria-label="">reply</mat-icon>
    </button>

    <span class="spacer"></span>

    <button mat-icon-button
            (click)="showAbout()"
            class="show-about-button"
            matTooltip="Show about (Alt + A)">
      <mat-icon aria-label="">info</mat-icon>
    </button>

    <div class="links">
      <a href="https://github.com/cedoor/ceditor" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </mat-toolbar>
</div>
