<div id="app-toolbar">
  <mat-toolbar>
    <button mat-icon-button
            (click)="toggleSidenav()"
            class="toggle-sidenav-button"
            matTooltip="Open or close the sidenav (Alt + M)">
      <mat-icon aria-label="">menu</mat-icon>
    </button>

    <div class="logo">
      <img src="./assets/icon.png">
      <h1>Ceditor</h1>
    </div>

    <button mat-icon-button
            (click)="runCode()"
            class="run-code-button"
            matTooltip="Run the code (Ctrl + Enter)">
      <mat-icon aria-label="">play_arrow</mat-icon>
    </button>
    <button mat-icon-button
            [matMenuTriggerFor]="cacheMenu"
            class="show-cache-menu-button"
            matTooltip="Show cache menu">
      <mat-icon aria-label="">sd_storage</mat-icon>
    </button>
    <mat-menu #cacheMenu="matMenu">
      <button (click)="showCachedGists()"
              matTooltip="Show cached gists"
              matTooltipPosition="right"
              mat-menu-item>
        Show gists
      </button>
      <button (click)="addGistToCache()"
              matTooltip="Add gist to cache"
              matTooltipPosition="right"
              mat-menu-item>
        Add gist
      </button>
      <button (click)="removeGistFromCache()"
              matTooltip="Add gist to cache"
              matTooltipPosition="right"
              mat-menu-item>
        Remove gist
      </button>
      <button (click)="clearCurrentCode()"
              matTooltip="Remove current cached code"
              matTooltipPosition="right"
              mat-menu-item>
        Clear code
      </button>
    </mat-menu>

    <span class="spacer"></span>

    <button mat-icon-button
            (click)="showAbout()"
            class="show-about-dialog-button"
            matTooltip="Show about (Alt + I)">
      <mat-icon aria-label="">info</mat-icon>
    </button>

    <button mat-icon-button
            (click)="showSettings()"
            class="show-settings-dialog-button"
            matTooltip="Show settings (Alt + S)">
      <mat-icon aria-label="">settings</mat-icon>
    </button>

    <div class="links">
      <a href="https://github.com/cedoor/ceditor" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </mat-toolbar>
</div>
