<div id="app-toolbar">
  <mat-toolbar>
    <img class="logo" src="./assets/icon.png">
    <span class="title">Ceditor</span>
    <button mat-icon-button
            (click)="runCode()"
            matTooltip="Run the code (Ctrl + Enter)">
      <mat-icon aria-label="">play_arrow</mat-icon>
    </button>
    <button mat-icon-button
            (click)="shareCode()"
            matTooltip="Share the code (Alt + s)">
      <mat-icon aria-label="">share</mat-icon>
    </button>
    <button mat-icon-button
            (click)="clearConsole()"
            matTooltip="Clear the console (Ctrl + l)">
      <mat-icon aria-label="">clear</mat-icon>
    </button>
    <span class="spacer"></span>
    <a href="https://github.com/cedoor/ceditor" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </mat-toolbar>
</div>
