div#app-toolbar {
  flex: 1;
  background-color: whitesmoke;

  mat-toolbar {
    height: 50px;

    div.logo {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 16px;
      margin: 0 10px;
      border-left: 1px solid #aaaaaa;
      border-right: 1px solid #aaaaaa;

      img {
        height: 30px;
        width: 30px;
        padding-right: 16px;
      }

      h1 {
        position: relative;
        top: 2px;
      }
    }

    .spacer {
      flex: 1 1 auto;
    }

    button {
      margin-left: 5px;
    }

    button.toggle-sidenav-button {
      margin-left: -5px;
    }
  }
}
