div#app-toolbar {
  flex: 1;
  border-bottom: 15px solid #2F3129;
  background-color: whitesmoke;

  mat-toolbar {
    height: 45px;

    .logo {
      width: 30px;
      padding-right: 16px;
    }

    .title {
      display: flex;
      align-items: center;
      height: 100%;
      font-family: "Courier New", Courier, monospace;
      padding-right: 16px;
      border-right: 1px solid lightgray;
    }

    .spacer {
      flex: 1 1 auto;
    }

    > a {
      color: #2F3129;
    }

    button {
      margin-left: 5px;

      mat-icon {
        color: #2F3129;
      }
    }
  }
}
